@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;500;600;700&display=swap');
:root {
  /* Font families */
  --font-base: 'Inter', sans-serif;       /* main body font */
  --font-secondary: 'Lexend', sans-serif; /* headings or accents */

  /* Font sizes */
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-primary: #e50914; /* Netflix red */
  --color-background: #141414;
  --color-white: #fff;
  --color-grey: #b3b3b3;
}
*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}
body{
    background-color: #111;
}